<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mostrar</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>

	</head>

	<body>




		<table class="table">

			<thead>
				<tr class="d-flex justify-content-around">
					<th class="text-center" scope="col">Id</th>
					<th class="text-center" scope="col">First</th>
					<th class="text-center" scope="col" style="width: 120px;">Acciones</th>
				</tr>
			</thead>

			<tbody>
				<tr class="d-flex justify-content-around align-items-center" th:each="alumno : ${alumnos}">
					<th th:text="${alumno.id}" th:value="${alumno.id}"></th>
					<td th:text="${alumno.nombre}"></td>

					<td class="d-flex flex-column">

						<a th:href="@{'/index/' + ${alumno.id}}" role="button" class="btn btn-danger" style="width: 100px;" >Eliminar</a>
						<a th:href="@{'/editar/' + ${alumno.id}}" role="button" class="btn btn-warning my-1" style="width: 100px;">Editar</a>


					</td>

				</tr>
			</tbody>
		</table>
		
		<div class="my-3 d-flex justify-content-center align-items-center">
			
			<a href="/guardar" style="width: 300px;" class="btn btn-success text-center d-flex justify-content-center align-items-center">Guardar</a>
		
		</div>

	</body>

</html>